<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            margin: 0;
        }

        canvas {
            width: 100%;
            height: 100%
        }
    </style>
    <link rel="stylesheet" href="./normalize.css">
    <link rel="stylesheet" href="./style_2.css">
    <title>Document</title>
</head>

<body>
    <form id='form' method="post" action="../models">

        <fieldset>
            <legend>Создание модели</legend>
                <h1>name:</h1>
                <label><input type="text" name="name" value="<%= name %>" id="p1" readonly></label>

                <p>name_Model:</p>
                <label><input type="text"  name="name_Model" value="name" id="p2"></label>

                <p>type:</p>
                <select for="type" name="type" id="p3">
                    <option value="BoxGeometry">BoxGeometry</option>
                    <option value="PlaneGeometry">PlaneGeometry</option>
                    <option value="BufferGeometry">BufferGeometry</option>
                    <option value="SphereGeometry">SphereGeometry</option>
                    <option value="ConeBufferGeometry">ConeBufferGeometry</option>
                    <option value="TorusKnotGeometry">TorusKnotGeometry</option>
                </select>

                <P>value, vertex:</P>
                <label><input type="text"  name="vertex" value="23, 324, 543, 4634 " id="p4"></label>

                <P>value, color:</P>
                <label><input type="color"  name="color" value="#a55151" id="p5"></label>

                <p>description:</p>
                <label><input type="text"  name="description" value="sdfsdfdsdfsddfe" id="p6"></label>
                
            <button class="butt" id="but">отобразить</button>
            <button type="submit" id="submit">отправить</button>
        </fieldset>
    </form>

    <script src="./three.js"></script>
    <script src="./main_7.js"></script>
    <script src="./quer_1.js"></script>
</body>

</html>