@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    font-size: 62.5%;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #000000;
    --quinary-color: #ff8800;
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

fieldset {
    border-color: var(--quinary-color);
    border-radius: 10px;
    border-width: 2px;
    width: 382px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
}


canvas{
    position: absolute;
    border-radius: 8px;
}

.butt{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ff8800;
    border-radius: 4px;
    width: 120px;
}

.p11{
    font-size: 0.9rem;
}

div{
    display: flex;
    flex-direction: column;
}