@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
    font-size: 62.5%;
    letter-spacing: 0.2px;
    font-family: 'Montserrat', sans-serif;
    --primary-color: #FAE3B4;
    --quinary-color: #000000;
    box-sizing: border-box;
}

main {
    max-width: 38rem;
    padding: 2rem;
    margin: auto;
}

*,
::after,
::before {
    box-sizing: inherit;
}

fieldset {
    border-color: var(--primary-color);
    border-radius: 10px;
    border-width: 2px;
    width: 427px;
}

p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
}


canvas{
    position: absolute;
    border-radius: 8px;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    border-radius: 4px;
    width: 120px;
}

button:hover {
    background-color: var(--primary-color);
    color:var(--quinary-color);
    transform: scale(1.06);
}

.p11{
    font-size: 0.9rem;
}

div{
    display: flex;
    flex-direction: column;
}



table {
	width: 90%;
    margin-left: 10px;
	margin-bottom: 20px;
	border: 5px solid #fff;
	border-top: 5px solid #fff;
	border-bottom: 3px solid #fff;
	border-collapse: collapse; 
	outline: 3px solid var(--primary-color);;
	font-size: 15px;
	background: #fff!important;
}
table th {
	font-weight: bold;
	padding: 7px;
	background:  var(--primary-color);;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid  var(--primary-color);;
}
table td {
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}
table tbody tr:nth-child(even){
	background: #f8f8f8!important;
}

.TD_BUTT{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--quinary-color);
    color: var(--primary-color);
    border-radius: 8px;
    transform: scale(0.96);
}

.TD_BUTT:hover{
    background-color: var(--primary-color);
    color:var(--quinary-color);
    transform: scale(0.92);
    border-radius: 9px;
    
}

a{
    width: 100%;
}